html, body {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
    background: url("back.jpg");
    background-size: cover;
}

.open-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    border: solid 1px transparent;
    box-shadow: 8px 8px 25px rgba(101, 106, 132, 0.6);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
    padding: 15px 25px;
}

.modal-wrapper {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 85, 85, 0.2);
    display: none;
}

.modal{
    display: none;
    position: fixed;
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #F7F7F7;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 40px 20px 20px;
}

.close {
    position: absolute;
    top: 5px;
    left: 560px;
    font-size: 40px;
    font-weight: 900;
    transform: rotate(45deg);
    cursor: pointer;
}